#calculator {
    width: 350px;
    margin: 0 auto;
    background-color: rgb(235, 235, 226);
    border: 1px solid rgb(243, 243, 233);
    padding: 10px;
    border-radius: 10px;
}

#display {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    box-align: center;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: yellowgreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: red;
}
